<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<div class="wrapper">
    <form class="login" action="login" method="post">
        <h1 th:utext="#{login.form.title}"></h1>
        <input type="text" name="Username" th:placeholder="#{login.form.username}" autofocus/>
        <i class="fa fa-user"></i>
        <input type="password" name="Password" th:placeholder="#{login.form.password}" />
        <i class="fa fa-key"></i>
<!--        <a href="#">Forgot your password?</a> -->
        <button>
            <i class="spinner"></i>
            <span th:utext="#{login.form.title}" class="state"></span>
        </button>
    </form>
    <languages th:insert="fragments/language_buttons.html :: languages"></languages>
    <th:block th:include="fragments/assets :: assets"></th:block>
</div>
</html>