<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CSS User Profile Card</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/logout.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<div class="logout-button">
<div class="navigation">
    <a class="button" href="/logout">
        <div class="logout">LOGOUT</div>
    </a>
</div>
</div>
<div class="wrapper">
    <div class="left">
        <img src="https://i.imgur.com/cMy8V5j.png"
             alt="user" width="100">
        <h4 th:text="${info.surname}"></h4> <h4 th:text=" ${info.name}"></h4>
        <h4 th:text="${info.patronimic}"></h4>
        <p th:text="${login}"></p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Email</h4>
                    <p th:text="${info.email}"></p>
                </div>
                <div class="data">
                    <h4>Phone</h4>
                    <p th:text="${info.phoneNumber}"></p>
                </div>
            </div>
        </div>
    </div>

    </div>
<div sec:authorize="hasAuthority('admin')" class="button_cont" align="center">
    <a class="example_b" onclick="location.href='/admin/create-teacher'"
       target="_blank" rel="nofollow noopener noreferrer"
       draggable="false">Створення викладача</a></div>
<div sec:authorize="hasAuthority('admin')" class="button_cont" align="center">
    <a class="example_b2" href="#" onclick="location.href='/courses'"
       target="_blank"
       rel="nofollow noopener noreferrer"
       draggable="false">Редагування курсів</a></div>
<div sec:authorize="hasAuthority('admin')" class="button_cont" align="center">
    <a class="example_b3" target="_blank"
       onclick="location.href='/admin/users'"
       rel="nofollow noopener noreferrer"
       draggable="false">Блокування/розблокування користувачів</a></div>
<div sec:authorize="hasAuthority('user')">
    <div class="courses">Pending courses:</div>
    <div class="courses-list">
        <div th:each="course, iterStat : ${courses}"
             th:if="${course.startDate.isAfter(localDate)
                            && course.endDate.isAfter(localDate)}">
            <h2 th:text="${course.name}"></h2>
            <h3 th:text="${course.theme}"></h3>
            <p th:text="${course.info}"></p>
            <h3 th:text="${course.startDate}"></h3>
            <h3 th:text="${course.endDate}"></h3>
            <div class="whitespace"></div>
        </div>
    </div>
    <div class="courses">Ongoing courses:</div>
    <div class="courses-list">
        <div th:each="course, iterStat : ${courses}"
             th:if="${course.startDate.isBefore(localDate)
                            && course.endDate.isAfter(localDate)}">
            <h2 th:text="${course.name}"></h2>
            <h3 th:text="${course.theme}"></h3>
            <p th:text="${course.info}"></p>
            <h3 th:text="${course.startDate}"></h3>
            <h3 th:text="${course.endDate}"></h3>
            <div class="whitespace"></div>
        </div>
    </div>
    <div class="courses">Finished courses</div>
    <div class="courses-list">
        <div th:each="course, iterStat : ${courses}"
             th:if="${course.startDate.isBefore(localDate)
                                && course.endDate.isBefore(localDate)}">
            <h2 th:text="${course.name}"></h2>
            <h3 th:text="${course.theme}"></h3>
            <p th:text="${course.info}"></p>
            <h3 th:text="${course.startDate}"></h3>
            <h3 th:text="${course.endDate}"></h3>
            <h2>Оцінка</h2>
            <h2 th:text="${rates[iterStat.index]}"></h2>
            <div class="whitespace"></div>
        </div>
    </div>
</div>
<!--<a sec:authorize="hasAuthority('admin')"
   th:href="'/courses/' + ${course.id}">Переглянути</a>
<div sec:authorize="hasAuthority('teacher')" class="courses">My courses:</div>
-->
</html>
