<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CSS User Profile Card</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/logout.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<div class="logout-button">
<div class="navigation">
    <a class="button" href="/logout">
        <div class="logout">LOGOUT</div>
    </a>
</div>
</div>
<div class="wrapper">
    <div class="left">
        <img src="https://i.imgur.com/cMy8V5j.png"
             alt="user" width="100">
        <h4 th:text="${info.surname}"></h4> <h4 th:text=" ${info.name}"></h4>
        <h4 th:text="${info.patronimic}"></h4>
        <p th:text="${info.login}"></p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Email</h4>
                    <p th:text="${info.email}"></p>
                </div>
                <div class="data">
                    <h4>Phone</h4>
                    <p th:text="${info.phoneNumber}"></p>
                </div>
            </div>
        </div>
    </div>

    </div>
<div class="courses">My courses:</div>
</html>
