<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/css/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<languages th:insert="fragments/language_buttons.html :: languages"></languages>
<th:block th:include="fragments/assets :: assets"></th:block>
<div class="container">
    <div class="title" th:text="#{registration.title}"></div>
    <div class="content">
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details" th:text="#{registration.full.name}"></span>
                    <input type="text" th:placeholder="#{registration.full.name.data}" required>
                </div>
                <div class="input-box">
                    <span class="details" th:text="#{registration.username}"></span>
                    <input type="text" th:placeholder="#{registration.username.data}" required>
                </div>
                <div class="input-box">
                    <span class="details" th:text="#{registration.email}"></span>
                    <input type="text" th:placeholder="#{registration.email.data}" required>
                </div>
                <div class="input-box">
                    <span class="details" th:text="#{registration.phone.number}"></span>
                    <input type="text" th:placeholder="#{registration.phone.number.data}" required>
                </div>
                <div class="input-box">
                    <span class="details" th:text="#{registration.password}"></span>
                    <input type="text" th:placeholder="#{registration.password.data}" required>
                </div>
                <div class="input-box">
                    <span class="details" th:text="#{registration.confirm.password}"></span>
                    <input type="text" th:placeholder="#{registration.confirm.password.data}"required>
                </div>
            </div>
            <div class="button">
                <input type="submit" th:value="#{registration.submit}">
            </div>
        </form>
    </div>
</div>

</body>
</html>