body {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.courses-list {
    background: #e4e9ed;
    text-align: center;
    display: inline-flex;
}

.field {
    display: inline-flex;
}