@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e4e9ed;
    font-family: Raleway, sans-serif;
}
br {
    margin-bottom: 2%;
}
.header {
    width: 100%;
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr max-content;
}
.header__logo {
    fill: white;
    width: 3rem;
    padding: 1rem;
    cursor: pointer;
}
.header__bg {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header__title {
    grid-area: 0.3333333333;
    align-self: center;
    justify-self: center;
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}
.header__log {
    display: flex;
    align-items: center;
    grid-area: 0.1666666667;
    padding: 1rem 2rem;
    color: white;
    cursor: pointer;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}
.header__log--icon {
    fill: currentColor;
    margin-right: 0.5rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .5));
}
.header__log--text {
    text-transform: capitalize;
}
.about {
    width: 100%;
    height: 60vh;
    margin-top: -7rem;
    clip-path: polygon(0 27%, 100% 0, 100% 100%, 0 100%);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}
.about__title {
    padding-top: 7rem;
    text-align: center;
    text-transform: uppercase;
}
.about__title--text {
    color: #232323;
}
.about__text {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.about__text--content {
    text-align: justify;
}

