.courses-list {
    display: block;
    width: 100%;
}

.field {
    display: block;
}


.one_student {
    background: #e4e9ed;
    text-align: center;
    width: 98%;
    margin: 10px;
    display: block;
    justify-content: space-between;
}